.Images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.Flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PositionHeader,
.LineupHeader {
    margin-bottom: 10px;
}

.PositionImg,
.LineupImg {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.Images .Flexbox:last-child {
    margin-left: 300px;
    /* Add margin-top to create space above the lineup flexbox */
}