#viewMap {
    display: flex;
    flex-direction: column;
    margin: 6%;
    width: 650px;
    object-fit: contain;
    height: auto;
    border: 2px solid #ff6b6b;
    box-shadow: 0px 0px 20px #ff6b6b;
}